body {
	/*position: absolute;*/
	background-image: url('background.jpg');
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	
}

div {
	background-image: url('h1.png');
	text-align: center;
	position: relative;
	margin: 10px;
	padding: 10px;
	font-family: "Gill Sans", sans-serif;


}

div.shiftleft {
	background-image: url('h1.png');
	width: 500;
	position: relative;
	margin: 10px;
	padding: 10px;
	font-family: "Gill Sans", sans-serif;
}

div.shiftRight {
	background-image: url('h1.png');
	width: 500;
	position: relative;
	margin: 10px;
	padding: 10px;
	font-family: "Gill Sans", sans-serif;
}

h1 {
	
	/*background-position: top left;*/
	font-variant: small-caps;

	margin: 10px;
	margin-top: 0;
	padding: 10px;
	text-align: center;
	font-family: "Gill Sans", sans-serif;

}

a {
	
	font-family: "Gill Sans", sans-serif;
	float: left;
	font-size: 20px;
}

img {
	background-image: url('h1.png');
	width: 480px;
	margin: 10px;
	padding: 10px;
	float: right;


}

.shiftleft {
	float: left;
	width: 450px;
}
.shiftRight {
	float: right;
	width: 500px;
}
