body {
	/*position: absolute;*/
	background-image: url('background.jpg');
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
	font-family: "Gill Sans", sans-serif;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}

div {
	background-image: url('h1.png');
	text-align: center;
	
	margin: 10px;
	padding: 10px;
	font-family: "Gill Sans", sans-serif;
}

.circle {
	background-image: url('h1.png');
	border-radius: 125px;
	text-align: center;
	width: 250px;
	height: 250px;
}

div.circle {
	background-image: url('h1.png');
	
	border-radius: 125px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	float: left;
	
}

div.shiftleft {
	background-image: url('h1.png');
	width: 500;
	position: relative;
	margin: 10px;
	padding: 10px;
	font-family: "Gill Sans", sans-serif;
}

div.shiftRight {
	background-image: url('h1.png');
	width: 500;
	position: relative;
	margin: 10px;
	padding: 10px;
	font-family: "Gill Sans", sans-serif;
}

h1 {
	
	/*background-position: top left;*/
	font-variant: small-caps;

	margin: 10px;
	margin-top: 0;
	padding: 10px;
	text-align: center;
	font-family: "Gill Sans", sans-serif;

}

a {
	/*background-image: url('h1.png');*/
	font-family: "Gill Sans", sans-serif;
	float: left;
	font-size: 40px;
	font-variant: small-caps;
	line-height: 250px;
	width: 250px;
	text-decoration: none;
	color: black;
	/*display: table-cell;*/
	text-align: center;
	
}

img {
	background-image: url('h1.png');
	width: 500px;
	margin: 10px;
	padding: 10px;
	float: right;
	border-radius: 250px;


}

.shiftleft {
	float: left;
	width: 450px;
}
.shiftRight {
	float: right;
	width: 500px;
}
