body {
	
	background-image: url('background.jpg');
	
	background-repeat: no-repeat;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	
}

div {
	background-image: url('h1.png');
	
	position: relative;
	margin: 10px;
	padding: 10px;
	font-family: "Gill Sans", sans-serif;

}

h1 {
	
	font-variant: small-caps;
	margin: 10px;
	margin-top: 0;
	padding: 10px;
	text-align: center;

	font-family: "Gill Sans", sans-serif;
}

h2 {
	text-indent: 10px;
	font-variant: small-caps;
	font-size: 25px;

}

h3 {
	text-indent: 40px;
	font-size: 16px;
}

h3.floatright {
	text-indent: 40px;
	font-size: 16px;
}

.floatright {
	float: right;
	margin: 10px;

}

p.floatright {

	text-indent: 40px;
	font-size: 16px;
}

a {
	font-family: "Gill Sans", sans-serif;
}

ul {
	list-style-position: inside;
	text-indent: 1.5em;
}

p {
	font-style: italic;
	text-indent: 40px;
	
}

img {
	background-image: url('h1.png');
	width: 500px;
	margin: 10px;
	padding: 10px;
	float: right;
	border-radius: 100px;
}


